.Rproj.user
.Rhistory
.RData
.Ruserdata
vfsg_logo_dark.png
vfsg_logo_light.png
Viz_For_Social_Good.Rproj
Sunny_Street/Data
Sunny_Street/Images
Sunny_Street/Shapefiles
Sunny_Street/sunny_street.pdf
Sunny_Street/sunny_street.svg
Visualize_Our_Community/Data
Visualize_Our_Community/visualize_our_community.svg
Build_Up_Nepal/Data
Build_Up_Nepal/Images
TEWWY/Data
TEWWY/final_viz.svg
